/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
:root {
  --text-color: rgb(150 150 150);
  --button-background-color: hsl(213deg 42% 28%);
  --whitesmoke: whitesmoke;
}

/* BASE CSS SELECTORS */

body {
  color: var(--text-color);
}

h1 {
  font-size: 2.4rem;
  font-family: "Tiempos Headline", serif;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
  font-family: "Tiempos Headline", serif;
  font-weight: 900;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-transform: capitalize;
  text-decoration: none;
}

/* HEADER SECTIONRS */

.header {
  border-bottom: 2px solid hsl(200deg 10% 94%);
}

.nav__item {
  display: inline-block;
}

.nav__link {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
}

.nav__item > .button-layout {
  font-weight: 400;
}

/* HERO SECTION */

.overlay {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0.75%;
  left: 0;
  background-color: rgba(120 120 120 / 35%);
}

.hero-layout__text {
  color: white;
}

.hero-layout__text > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7em;
}

.hero-layout__text > a {
  font-size: 1.3rem;
}

/* LOCATION SECTION */

.locations {
  padding: 2rem 0 4rem;
  background-color: var(--whitesmoke);
  border-bottom: 2px solid hsl(200deg 10% 94%);
  text-align: center;
}

.locations h2 {
  text-transform: capitalize;
}

.text-layout__p--primary {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.8em;
}

.text-layout__p--secondary {
  font-size: 1.1rem;
  font-weight: 700;
}

/* LEARN MORE SECTION */

.learn-more h2 {
  color: rgb(130 131 130);
  font-size: 1.9rem;
}

.learn-more__button {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.learn-more span {
  font-size: 1rem;
  font-weight: 700;
}

/* INFO SECTION */

.info-section {
  color: rgb(217 213 213);
  background-color: rgb(82 83 81);
}

.info-section h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.info-section span {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.8em;
}

.info-section a {
  color: rgb(217 213 213);
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
}

/* FOOTER SECTION */

.footer-section {
  background-color: var(--whitesmoke);
}

.footer-nav__link {
  color: rgb(99 99 99);
  font-size: 1.2rem;
  font-weight: 700;
}

/* UTILITY CLASSES */

.button-layout {
  color: white;
  background-color: var(--button-background-color);
}

.button-layout:hover {
  opacity: 0.9;
  transform: scale(1.1);
  transition: 50ms ease-in;
}

.special-font {
  font-family: "Tiempos Headline", serif;
}
